html {
    background: grey;
}



.todo-list {
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
}

.todo-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 16px;
    background-color: lightyellow;
    color: black;
    padding: 8px 8px;
    border-radius: 4px;
}


.todo-title {
    font-size: 24px;
    border: none;
}
.todo-description {
    font-size: 16px;
    border: none;
}

.todo-button {

}